<?xml version="1.0"?>
<launch>
<!-- Load robot description -->
  <arg name="robot_name" default="nexus_gelo" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find nexus_gelo)/urdf/robot.xacro" />

 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Spawn the robot -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model $(arg robot_name) -param robot_description -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>
